:root {
  /* header hight: 56, 72, 80 */
  --header-height: 3.5rem;
  --header-bg-color: linear-gradient(180deg, #1b2530 0, rgb(27, 37, 48));
  --header-button-padding: 0.5rem;
  --icon-size: 18px;
  --icon-opacity: 0.6;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
  background-image: var(--header-bg-color);
}

.header-container {
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  background: url(/media/icons/prime_video_logo.svg) no-repeat;
  background-size: contain;
  height: 32px;
  width: 135px;
}

@media screen and (min-width: 768px) {
  .header-container {
    --header-height: 4.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    --header-height: 5rem;
  }
}
