:root {
  --icon-opacity: 0.6;
}

.nav-container {
  flex: 1;
  position: relative;
  left: -1.5rem;

  display: flex;
  align-items: center;
}

.nav-container .menu-label {
  flex: 1 0 125px;
}

.nav-container .menu-label > label {
  opacity: var(--icon-opacity);
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.nav-container #explore {
  appearance: none;
  position: absolute;
}

.nav-container #explore::after {
  content: "";
  background: url(media/icons/arrow-down.svg) center;
  background-size: cover;
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  left: -0.2rem;
  top: 0.25rem;
  opacity:var(--icon-opacity);
  cursor: pointer;
  /* Llamada a la animación para girar la flecha del menú desplegable */
  animation: rotate_arrow_down 0.5s forwards;
}

.nav-container #explore:checked::after {
  animation: rotate_arrow_up 0.5s forwards;
}

/* Definición de las animaciones de rotación */
@keyframes rotate_arrow_up {
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate_arrow_down {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.nav-container #explore:checked ~ .nav-subcontainer {
  display: block;
}

.nav-container #explore:checked ~ .shadow-filter {
  display: block;
}

.nav-subcontainer {
  display: none;
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 9999;
}

.nav-list,
.nav-item {
  margin: 0;
  padding: 0;
}

.nav-list {
  background-color: #252e39;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item {
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #323e4c;
}

.nav-item a {
  color: white;
  padding: 1rem 1rem;
}

.slide-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
}

.search {
  flex-shrink: 0;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.search-checkbox {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  appearance: none;
  margin: 0;
  margin-right: 5px;
}

.search .search-checkbox::after {
  content: "";
  background: url(media/icons/lupa.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: var(--icon-opacity);
}

.search-checkbox:checked ~ .search-field {
  display: initial;
}

.search-field {
  display: none;
  appearance: none;
  outline: 1px solid rgba(255, 255, 255, var(--icon-opacity));
  position: relative;
  top: -8px;
  border: none;
  background-color: #151e26;
  color: white;
}

.user-profile {
  position: relative;
}

.user-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.user-profile .user-icon::after {
  content: "";
  background: url(media/icons/usuario.svg) no-repeat;
  opacity: var(--icon-opacity);
  position: absolute;
  width: 100%;
  height: 100%;
}

.user-profile .user-icon > span {
  display: none;
}

.shadow-filter {
  display: none;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: var(--header-height);
  left: 0;
  background-color: #06090c;
  opacity: 0.6;
  z-index: 8999;
}

@media screen and (min-width: 1024px) {
  .nav-container {
    display: flex;
    align-items: center;
  }

  .nav-container .menu-label > label,
  .nav-container .menu-label > input {
    display: none;
  }

  .nav-subcontainer {
    position: static;
    display: initial;
  }

  .nav-list {
    flex-direction: row;
    justify-content: flex-start;
    background: none;
  }

  .nav-item {
    flex: 0;
    border: none;
  }

  .nav-item a {
    padding: 0 1rem;
    margin-right: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: "Ember Display", Ember, Arial, sans-serif;
  }

  .nav-item a:hover {
    color: var(--highlight);
  }

  .search-checkbox:hover::after {
    opacity: 1;
  }

  .search-field {
    top: -6px;
    height: calc(100% - 4px);
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  .user-profile .user-icon:hover::after {
    opacity: 1;
  }
}
