@font-face {
  font-family: Ember;
  src: url(/fonts/AmazonEmber_Rg.ttf);
}

:root {
  --bg-main-color: rgb(15, 23, 30);
  --highlight: rgb(121, 184, 230); /* HEX #79b8e6 */
}

body {
  background-color: var(--bg-main-color);
  color:white;
  font-family: Ember, Arial, sans-serif;
}

main {
  margin-top: 5rem;
  /* position: relative; */
  /* z-index: 10; */
}